sdasdasdasd
{% for product in collections[section.settings.collection].products %}
    <div class="product-card">
        <a href="{{ product.url }}">
            <img src="{{ product.featured_media.preview_image | img_url: 'medium' }}" alt="{{ product.featured_image.alt }}">
            <p>{{ product.title }}</p>
            <p>{{ product.price | money }}</p>
        </a>
    </div>
{% endfor %}


{% schema %}
{
    "name": "Feature Collection Maky",
    "class": "section section--feature-collection",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured Collection"
        }
    ],
    "presets": [
        {
            "name": "Feature Collection Maky",
            "category": "collections"
        }]
}
{% endschema %}