{%- liquid
  assign current_product = product.selected_or_first_available_variant
  assign product_image = current_product.featured_image | default: product.featured_image
%}
aaaa
<div class="container">
  <div class="row">
    <div>
      <img src="{{ product_image |  img_url: 'large' }}" alt="{{ product_image.alt }}" id="PrdocutMainImage">
    </div>
    <div style="display: flex; margin: 10px; padding: 5px">
      {% for image in product.images %}
        <img  width="100px" src="{{ image | img_url: 'large' }}" alt="{{ image.alt }}" class="ProductImage" data-image="{{ image | img_url: 'large' }}">
      {% endfor %}
    </div>
  </div>
  <div>
    <h1>{{ product.title }}</h1>
    <p>{{ current_product.price | money }}</p>

    {% form 'product', product, class: 'form-class-custom', id: 'AddToCartForm' %}
      <div class="test">
        <select name="id" id="productSelect" class="form-select">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option {% if variant == current_product %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ variant.price | money }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <input type="number" name="quantity" id="" min="1" value="1" id="Quantity">
        <button type="submit" name="add" id="AddToCart">add to cart</button>
        {{ form | payment_button }}
      </div>
    {% endform %}
  </div>
</div>ssss